
@font-face {
	font-family: 'Roboto-Bold';
	src: url('fonts/Roboto-Bold.ttf');
}

@font-face {
	font-family: 'Roboto-Regular';
	src: url('fonts/Roboto-Regular.ttf');
}

@media all and (max-width: 768px) {
body {
	font-family: 'Roboto-Regular';
	margin: 0px;
	width: 100%;
}

h1 {
	text-align: center;
	font-family: 'Roboto-Bold';
	font-size: 14px;
}

h2 {
	text-align: center;
	font-family: 'Roboto-Bold';
	font-size: 24px;
}

nav {
	display: flex;
	justify-content: space-between;
	position: fixed;
	top: 0;
	width: auto;
	background-color: #FFF;
	z-index: 3;
}

nav .logo {
	margin-left: 5%;
	padding: 20px 0 20px 0;
	width: 30%;
}

nav img {
	width: 100%;
}

nav .menu {
	margin: 0;
	padding: 20px 0 20px 30px;
	margin-right: 5%;
	width: 60%;
	
}

nav .menu li {
	display: inline;
	padding: 22px 2px 20px 2px;
	font-size: 10px;
	color: #787878;

}

nav .menu a {
	text-decoration: none;
	color: #787878;
}

nav .menu .accueil {
	border-top: 3px solid #2693c0;
}

nav .menu li:hover {
	border-top: 3px solid #2693c0;
}



.welcome_screen {
	display: flex;
	flex-direction: column;
	justify-content: center; 
	color: #FFFFFF;
	margin-top: 65px;
	position: relative;
	z-index: 1;
}

.welcome_screen img {
	width: 100%;
}

.welcome_screen_intro {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.fas.fa-angle-left {
	position: absolute;
	left: 0;
	margin-left: 5px;
	font-size: 24px;
	z-index: 2;
	cursor: pointer;
}

.half-circle-left {
    position: absolute;
    width: 35px;
    height: 65px;
    background-color: rgba(24, 29, 36,0.2);
    border-bottom-right-radius: 100px;
    border-top-right-radius: 100px;
    z-index: 1;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.fas.fa-angle-right {
	position: absolute;
	right: 0;
	margin-right: 5px;
	font-size: 24px;
	z-index: 2;
	cursor: pointer;
}

.half-circle-right {
    position: absolute;
    right: 0;
    width: 35px;
    height: 65px;
    background-color: rgba(24, 29, 36,0.2);
    border-bottom-right-radius: 100px;
    border-top-right-radius: 100px;
    transform: rotate(180deg);
    z-index: 1;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.welcome_screen h1 {
	font-family: 'Roboto-Bold';
	text-align: left;
	font-size: 20px;
	margin-left: 10%;
	width: auto;
	margin-top: 0;
	margin-bottom: 0;
}

.welcome_screen p {
	font-size: 10px;
	margin-left: 10%;
}

.welcome_screen .cta_welcome_screen {
	text-align: center;
	font-size: 10px;
	width: 60px;
	background-color: #43add8; 
	padding: 8px 10px 8px 10px;
	border-radius: 5px;
	border-bottom: 3px solid #2693c0;
	cursor: pointer;
}

.welcome_screen .webagency_welcome_screen {
	color: #43add8;
}

.welcome-screen-border-bottom {
	position: absolute;
	bottom: 0;
	width: 100%;
	box-sizing: border-box;
	border: solid 2px  rgba(0,0,0,0.3);
	z-index: 2;
}

.welcome-screen-border-bottom-blue {
	position: absolute;
	bottom: 0;
	width: 10%;
	border: solid 2px #43add8;
	z-index: 3;
}

.our_services .illustration {
	position: relative;
}

.introduction {
	width: auto;
	text-align: center;
	color: #787878;
	margin-left: 3%;
	margin-right: 3%;
	margin-top: 25px;
	font-size: 12px;
}

.our_services .illustration, .projects .illustration {
	border: 0.5px solid #E5E5E5;
	width: 150px;
	margin-left: auto;
	margin-right: auto;
}

.our_services .illustration .fa.fa-circle {
	position: absolute;
	top: -12px;
	left: 60px;
  	color: #43add8;
  	border: 4px solid white;
	border-radius: 50%;
}

.main_feature {
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
}

.main_feature .main-feature-image {
	width: 50%;
	display: inline-block;
	vertical-align: top;
	display: none;
}

.main_feature img {
	display: none;
}

.main_feature ul {
	display: inline-block;
	vertical-align: top;
	width: 100%;
	padding: 0px;
}

.main_feature li {
	list-style: none;
	position: relative;
	padding: 0px;
}

.main_feature li div {
	display: inline-block;
	vertical-align: middle;
	margin-left: 3%;
	margin-right: 3%;
}

.service-icon-group {
	position: relative;
	width: 18%;
}

.service-icon {
	position: relative;
	color: #43add8;
	border: 1px solid #E9E9E9;
	border-radius: 50%;
	padding: 20px 20px;
	font-size: 24px;
}

.service-circle {
	position: absolute;
	top: 50%;
	right: -10px;
	color: #43add8;
	transform: translateY(-50%);
	border: 4px solid white;
	border-radius: 50%;
	font-size: 12px;
}

.service-text {
	width: 70%;
}

.main_feature .main_feature_list_title {
	font-size: 15px;
	font-family: 'Roboto-Bold';
	text-align: left;
	margin: 10px 0 10px 0;
	color: #000;
}

.main_feature .main_feature_list_text {
	font-size: 12px;
	color: #787878;
	text-align: left;
	margin: 10px 0 10px 0;

}

.projects {
	background-color: #F5F5F5;
	padding-top: 5px;
	padding-bottom: 15px;
}

.projects .illustration {
	position: relative;
}

.projects .illustration .fa.fa-circle {
	position: absolute;
	top: -12px;
	left: 60px;
  	color: #43add8;
  	border: 4px solid white;
	border-radius: 50%;
}

.projects .creative, .portfolio, .corporate {
	list-style: none;
	padding: 10px;
	background-color: #e5e5e5;
	border-bottom: 3px solid #e5e5e5;
	color: #787878;
}

.project_details li {
	list-style: none;
	position: relative;
}

.project_details p.all-works {
	padding: 10px;
	font-size: 12px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	background-color: #43add8;
	border-bottom: 3px solid #2693c0;
	color: #FFF;
	cursor: pointer;
}

.triangle {
  position: absolute;
  left:40%;
  top: 75%;
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #2693c0;
  display: block;
}

.projects .creative:hover, .portfolio:hover, .corporate:hover {
	background-color: #43add8;
	border-bottom: 3px solid #2693c0;
	color: #FFF;
	cursor: pointer;
}

.projects .project_details {
	display: flex;
	flex-direction: row;
	justify-content: center;
	font-size: 12px;
	padding-left: 0px;
}

.portfolio {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.images_catalog {
	position: relative;
	display: block;
	margin-left: 3%;
	margin-right: 3%;
	
}

.images_catalog a {
	position: relative;
	display: block;
	margin: 10px;
}

.projects_illustration img {
	height: auto;
	width: 100%;
	
}

.projects_illustration .overlay {
  position: absolute;
  left: 0;
  bottom: 4px;
  height: 35%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0,0,0,0.5)
}

a.projects_illustration:hover .overlay {
  opacity: 1;
  cursor: pointer;
}

.text .title {
	margin: 0px;
	font-family: 'Roboto-Bold';
	font-size: 16px;
	text-align: left;
	padding: 10px 0px 5px 0px;
}

.text {
  position: relative;
  color: white;
  font-size: 14px;
  text-align: left;
  padding-left: 10px;
  height: auto;
  margin: 0px;
}

.text p {
	margin: 0px;
}

.fas.fa-eye {
	position: absolute;
	right: 0;
	transform: translateY(-50%);
	background-color: #43add8;
	color: white;
	border: 2px solid #E9E9E9;
	border-radius: 50%;
	padding: 13px 13px;
	font-size: 12px;
	margin-right: 10px;
}

.contact_info {
	position: relative;
}

.contact_info .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(124, 180, 204,0.5); 
}

.contact_form {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	margin-top: 30px;
	margin-bottom: 30px;
	background-color: rgba(244, 250, 254,0.8);
	width: 70%;
	z-index: 2;
	padding: 0 30px 0 20px;
}

.contact_form h1 {
	font-size: 24px;
	text-align: left;
}

.contact_form_webagency {
	font-family: 'Roboto-Bold';
	color: #63686e;
}

.contact_form p {
	font-size: 14px;
	line-height: 8px;
	color: #63686e;

}

.contact_form .tel {
	border-bottom: 1px dotted #63686e;
}

.contact_form form {
	font-family: 'Roboto-Regular';
}

input[type=submit] {
	font-family: 'Roboto-Regular';
	text-align: center;
	width: 100px;
	background-color: #43add8; 
	padding: 12px 15px 12px 15px;
	border-radius: 5px;
	border-bottom: 3px solid #2693c0;
	margin-top: 5px;
	margin-bottom: 10px; 
	font-size: 14px;
	color: #FFF;
	cursor: pointer;
}

.contact_form p.cta_contact_info {
	color: #FFF;
}

input[type=text] {
	width: 100%;
	padding: 8px 0px 8px 8px;
	font-family: 'Roboto-Regular';
	font-size: 14px;
	margin-top: 10px;
	color: #D8D8D8;
	border: 1px solid #D8D8D8;
	border-radius: 5px;
}

textarea {
	width: 100%;
	padding: 8px 0px 8px 8px;
	font-family: 'Roboto-Regular';
	font-size: 14px;
	border: 1px solid #D8D8D8;
	border-radius: 5px;
	margin-top: 10px;
	color: #D8D8D8;
}

}

@media all and (max-width: 1024px) {

nav {
	display: flex;
	justify-content: space-between;
	position: fixed;
	top: 0;
	width: auto;
	background-color: #FFF;
	z-index: 3;
}

nav .logo {
	margin-left: 5%;
	padding: 20px 0 20px 0;
	width: 30%;
}

nav img {
	width: 100%;
}

nav .menu {
	margin: 0;
	padding: 20px 0 20px 30px;
	margin-right: 5%;
	width: 60%;
	
}

nav .menu li {
	display: inline;
	padding: 22px 2px 20px 2px;
	font-size: 10px;
	color: #787878;

}

	}