
@font-face {
	font-family: 'Roboto-Bold';
	src: url('fonts/Roboto-Bold.ttf');
}

@font-face {
	font-family: 'Roboto-Regular';
	src: url('fonts/Roboto-Regular.ttf');
}

body {
	font-family: 'Roboto-Regular';
	margin: 0px;
}

h1 {
	text-align: center;
	font-family: 'Roboto-Bold';
	font-size: 42px;
}

h2 {
	text-align: center;
	font-family: 'Roboto-Bold';
	font-size: 42px;
}

nav {
	display: flex;
	justify-content: space-between;
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #FFF;
	z-index: 3;
}

nav .logo {
	margin-left: 10%;
	padding: 20px 0 20px 0;
}

nav .menu {
	margin: 0;
	padding: 40px 0 20px 0;
	margin-right: 10%;
	
}

nav .menu li {
	display: inline;
	padding: 40px 10px 20px 10px;
	font-size: 14px;
	color: #787878;
}

nav .menu a {
	text-decoration: none;
	color: #787878;
}

nav .menu .accueil {
	border-top: 3px solid #2693c0;
}

nav .menu li:hover {
	border-top: 3px solid #2693c0;
	cursor: pointer;
}


.welcome-screen {
	display: flex;
	flex-direction: column;
	justify-content: center; 
	color: #FFFFFF;
	margin-top: 101px;
	position: relative;
	z-index: 1;
}

.welcome-screen img {
	width: 100%;
}

.welcome-screen-intro {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.fas.fa-angle-left {
	position: absolute;
	left: 0;
	margin-left: 5px;
	font-size: 24px;
	z-index: 2;
	cursor: pointer;
}

.half-circle-left {
    position: absolute;
    width: 35px;
    height: 65px;
    background-color: rgba(24, 29, 36,0.2);
    border-bottom-right-radius: 100px;
    border-top-right-radius: 100px;
    z-index: 1;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.fas.fa-angle-right {
	position: absolute;
	right: 0;
	margin-right: 5px;
	font-size: 24px;
	z-index: 2;
	cursor: pointer;
}

.half-circle-right {
    position: absolute;
    right: 0;
    width: 35px;
    height: 65px;
    background-color: rgba(24, 29, 36,0.2);
    border-bottom-right-radius: 100px;
    border-top-right-radius: 100px;
    transform: rotate(180deg);
    z-index: 1;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.welcome-screen h1 {
	font-family: 'Roboto-Bold';
	text-align: left;
	font-size: 36px;
	margin-left: 150px;
	width: 500px;
	margin-top: 0;
	margin-bottom: 0;
}

.welcome-screen p {
	font-size: 14px;
	margin-left: 150px;
}

.welcome-screen .cta-welcome-screen {
	text-align: center;
	font-size: 18px;
	width: 100px;
	background-color: #43add8; 
	padding: 12px 15px 12px 15px;
	border-radius: 5px;
	border-bottom: 3px solid #2693c0;
	cursor: pointer;
}

.welcome-screen .webagency-welcome-screen {
	color: #43add8;
}

.welcome-screen-border-bottom {
	position: absolute;
	bottom: 0;
	width: 100%;
	box-sizing: border-box;
	border: solid 2px  rgba(0,0,0,0.3);
	z-index: 2;
}

.welcome-screen-border-bottom-blue {
	position: absolute;
	bottom: 0;
	width: 10%;
	border: solid 2px #43add8;
	z-index: 3;
}

.our-services .illustration {
	position: relative;
}

.introduction {
	width: 500px;
	text-align: center;
	color: #787878;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
}

.our-services .illustration, .projects .illustration {
	border: 0.5px solid #E5E5E5;
	width: 150px;
	margin-left: auto;
	margin-right: auto;
}

.our-services .illustration .fa.fa-circle {
	position: absolute;
	top: -12px;
	left: 60px;
  	color: #43add8;
  	border: 4px solid white;
	border-radius: 50%;
}

.main-feature {
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
}

.main-feature .main-feature-image {
	width: 50%;
	display: inline-block;
	vertical-align: top;
}

.main-feature img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.main-feature ul {
	display: inline-block;
	vertical-align: top;
	width: 50%;
	padding: 0px;
}

.main-feature li {
	list-style: none;
	position: relative;
	padding-right: 40px;
}

.main-feature li div {
	display: inline-block;
	vertical-align: middle;
}

.service-icon-group {
	position: relative;
	width: 15%;
}

.service-icon {
	position: relative;
	color: #43add8;
	border: 1px solid #E9E9E9;
	border-radius: 50%;
	padding: 20px 20px;
	font-size: 24px;
}

.service-circle {
	position: absolute;
	top: 50%;
	right: -10px;
	color: #43add8;
	transform: translateY(-50%);
	border: 4px solid white;
	border-radius: 50%;
	font-size: 12px;
}

.service-text {
	width: 85%;
}

.main-feature .main-feature-list-title {
	font-size: 18px;
	font-family: 'Roboto-Bold';
	text-align: left;
	margin: 10px 0 10px 0;
	color: #000;
}

.main-feature .main-feature-list-text {
	font-size: 14px;
	color: #787878;
	text-align: left;
	margin: 10px 0 10px 0;

}

.projects {
	background-color: #F5F5F5;
	padding-top: 5px;
	padding-bottom: 15px;
}

.projects .illustration {
	position: relative;
}

.projects .illustration .fa.fa-circle {
	position: absolute;
	top: -12px;
	left: 60px;
  	color: #43add8;
  	border: 4px solid white;
	border-radius: 50%;
}

.projects .creative, .portfolio, .corporate {
	list-style: none;
	padding: 10px;
	background-color: #e5e5e5;
	border-bottom: 3px solid #e5e5e5;
	color: #787878;
}

.project-details li {
	list-style: none;
	position: relative;
}

.project-details p.all-works {
	padding: 10px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	background-color: #43add8;
	border-bottom: 3px solid #2693c0;
	color: #FFF;
	cursor: pointer;
}

.triangle {
  position: absolute;
  left:40%;
  top: 75%;
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #2693c0;
  display: block;
}

.projects .creative:hover, .portfolio:hover, .corporate:hover {
	background-color: #43add8;
	border-bottom: 3px solid #2693c0;
	color: #FFF;
	cursor: pointer;
}

.projects .project-details {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.portfolio {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.images-catalog {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-left: 3%;
	margin-right: 10%;
	
}

.images-catalog a {
	position: relative;
	margin: 10px;
}

.projects-illustration img {
	height: auto;
	width: 100%;
	
}

.projects-illustration .overlay {
  position: absolute;
  left: 0;
  bottom: 4px;
  height: 35%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0,0,0,0.5)
}

a.projects-illustration:hover .overlay {
  opacity: 1;
  cursor: pointer;
}

.text .title {
	margin: 0px;
	font-family: 'Roboto-Bold';
	font-size: 16px;
	text-align: left;
	padding: 10px 0px 5px 0px;
}

.text {
  position: relative;
  color: white;
  font-size: 14px;
  text-align: left;
  padding-left: 10px;
  height: auto;
  margin: 0px;
}

.text p {
	margin: 0px;
}

.fas.fa-eye {
	position: absolute;
	right: 0;
	transform: translateY(-50%);
	background-color: #43add8;
	color: white;
	border: 2px solid #E9E9E9;
	border-radius: 50%;
	padding: 13px 13px;
	font-size: 12px;
	margin-right: 10px;
}

.contact-info {
	position: relative;
}

.contact-info .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(124, 180, 204,0.5); 
}

.contact-form {
	position: absolute;
	right: 150px;
	margin-top: 30px;
	margin-bottom: 30px;
	background-color: rgba(244, 250, 254,0.8);
	width: 300px;
	z-index: 2;
	padding: 0 30px 0 20px;
}

.contact-form h1 {
	font-size: 24px;
	text-align: left;
}

.contact-form-webagency {
	font-family: 'Roboto-Bold';
	color: #63686e;
}

.contact-form p {
	font-size: 14px;
	line-height: 8px;
	color: #63686e;

}

.contact-form .tel {
	border-bottom: 1px dotted #63686e;
}

.contact-form form {
	font-family: 'Roboto-Regular';
}

input[type=submit] {
	font-family: 'Roboto-Regular';
	text-align: center;
	width: 100px;
	background-color: #43add8; 
	padding: 12px 15px 12px 15px;
	border-radius: 5px;
	border-bottom: 3px solid #2693c0;
	margin-top: 5px;
	margin-bottom: 10px; 
	font-size: 14px;
	color: #FFF;
	cursor: pointer;
}

.contact-form p.cta-contact-info {
	color: #FFF;
}

input[type=text] {
	width: 100%;
	padding: 8px 0px 8px 8px;
	font-family: 'Roboto-Regular';
	font-size: 14px;
	margin-top: 10px;
	color: #787878;
	border: 1px solid #D8D8D8;
	border-radius: 5px;
}

textarea {
	width: 100%;
	padding: 8px 0px 8px 8px;
	font-family: 'Roboto-Regular';
	font-size: 14px;
	border: 1px solid #D8D8D8;
	border-radius: 5px;
	margin-top: 10px;
	color: #787878;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #D8D8D8;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #D8D8D8;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #D8D8D8;
}
:-moz-placeholder { /* Firefox 18- */
  color: #D8D8D8;
}

iframe {
	width: 100%;
	height: 600px;
	border:0;
}