

@font-face {
	font-family: 'Roboto-Bold';
	src: url('fonts/Roboto-Bold.ttf');
}

@font-face {
	font-family: 'Roboto-Regular';
	src: url('fonts/Roboto-Regular.ttf');
}

body {
	font-family: 'Roboto-Regular';
	margin: 0px;
}

h1 {
	text-align: center;
	font-family: 'Roboto-Bold';
	font-size: 42px;
}

nav {
	display: flex;
	justify-content: space-between;
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #FFF;
	z-index: 2;
}

nav .logo {
	margin-left: 10%;
	padding: 20px 0 20px 0;
}

nav .menu {
	margin: 0;
	padding: 40px 0 20px 0;
	margin-right: 10%;
	
}

nav .menu li {
	display: inline;
	padding: 40px 10px 20px 10px;
	font-size: 14px;
	color: #787878;
}

nav .menu .accueil {
	border-top: 3px solid #2693c0;
}

nav .menu li:hover {
	border-top: 3px solid #2693c0;
}


.welcome_screen {
	display: flex;
	flex-direction: column;
	justify-content: center; 
	color: #FFFFFF;
	margin-top: 101px;
	position: relative;
	z-index: 1;
}

.welcome_screen img {
	width: 100%;
}

.welcome_screen_intro {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.welcome_screen h1 {
	font-family: 'Roboto-Bold';
	text-align: left;
	margin-left: 150px;
	width: 500px;
}

.welcome_screen p {
	font-size: 14px;
	margin-left: 150px;
}

.welcome_screen .cta_welcome_screen {
	text-align: center;
	font-size: 18px;
	width: 100px;
	background-color: #43add8; 
	padding: 12px 15px 12px 15px;
	border-radius: 5px;
	border-bottom: 3px solid #2693c0;
}

.welcome_screen .webagency_welcome_screen {
	color: #43add8;
}

.our_services .illustration {
	position: relative;
}

.introduction {
	width: 500px;
	text-align: center;
	color: #787878;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
}

.our_services .illustration, .projects .illustration {
	border: 0.5px solid #E5E5E5;
	width: 150px;
	margin-left: auto;
	margin-right: auto;
}

.our_services .illustration .fa.fa-circle {
	position: absolute;
	top: -12px;
	left: 60px;
  	color: #43add8;
  	border: 4px solid white;
	border-radius: 50%;
}

.main_feature {
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
}

.main_feature .main_feature-image {
	width: 50%;
	display: inline-block;
	vertical-align: top;
}

.main_feature img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.main_feature ul {
	display: inline-block;
	vertical-align: top;
	width: 50%;
	padding: 0px;
}

.main_feature li {
	list-style: none;
	position: relative;
}

.main_feature li div {
	display: inline-block;
	vertical-align: middle;
}

.service-icon-group {
	position: relative;
	width: 15%;
}

.service-icon {
	position: relative;
	color: #43add8;
	border: 1px solid #E9E9E9;
	border-radius: 50%;
	padding: 20px 20px;
	font-size: 24px;
}

.service-circle {
	position: absolute;
	top: 50%;
	right: -10px;
	color: #43add8;
	transform: translateY(-50%);
	border: 4px solid white;
	border-radius: 50%;
	font-size: 12px;
}

.service-text {
	width: 85%;
}




/*
.fa.fa-chart-pie {
	position: absolute;
	left: 6px;
	top: 11px;
	font-size: 20px;
	color: #43add8;
	padding: 8px;
	border: 10px solid white;
	border-radius: 50%;
	z-index: 2
}

.fa.fa-chart-pie:before {
	font-family: "fontawesome";
	content: "\f200";
}

.fa.fa-cubes {
	position: absolute;
	left: 6px;
	top: 11px;
	font-size: 20px;
	color: #43add8;
	padding: 8px;
	border: 10px solid white;
	border-radius: 50%;
	z-index: 2
}

.fa.fa-cubes:before {
	font-family: "fontawesome";
	content: "\f1b3";
}

.fa.fa-chart-line {
	position: absolute;
	left: 6px;
	top: 11px;
	font-size: 20px;
	color: #43add8;
	padding: 8px;
	border: 10px solid white;
	border-radius: 50%;
	z-index: 2
}

.fa.fa-chart-line:before {
	font-family: "fontawesome";
	content: "\f201";
}

.far.fa-circle-o-notch {
	color:#E9E9E9;
	font-size: 65px;
	transform: rotate(90deg);
	z-index: 1;
}


.fa.fa-circle {
	position: absolute;
	left: 60px;
	top:30px;
	color: #43add8;
	border-radius: 50%;
	
}

.fa.fa-circle:before {
	font-family: 'fontawesome';
	content: "\f111";
}

*/

.main_feature .main_feature_list_title {
	font-size: 18px;
	font-family: 'Roboto-Bold';
	text-align: left;
	margin: 10px 0 10px 0;
	color: #000;
}

.main_feature .main_feature_list_text {
	font-size: 14px;
	color: #787878;
	text-align: left;
	margin: 10px 0 10px 0;

}

.projects {
	background-color: #F5F5F5;
	padding-top: 5px;
	padding-bottom: 15px;
}

.projects .illustration {
	position: relative;
}

.projects .illustration .fa.fa-circle {
	position: absolute;
	top: -12px;
	left: 60px;
  	color: #43add8;
  	border: 4px solid white;
	border-radius: 50%;
}

.projects .creative, .portfolio, .corporate {
	list-style: none;
	padding: 10px;
	background-color: #e5e5e5;
	border-bottom: 3px solid #e5e5e5;
	color: #787878;
}

.project_details li {
	list-style: none;
	position: relative;
}

.project_details p.all-works {
	padding: 10px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	background-color: #43add8;
	border-bottom: 3px solid #2693c0;
	color: #FFF;
}

.triangle {
  position: absolute;
  left:40%;
  top: 75%;
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #2693c0;
  display: block;
}

.projects .creative:hover, .portfolio:hover, .corporate:hover {
	background-color: #43add8;
	border-bottom: 3px solid #2693c0;
	color: #FFF;
}

.projects .project_details {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.portfolio {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.images_catalog {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-left: 3%;
	margin-right: 10%;
	
}

.images_catalog a {
	position: relative;
	margin: 10px;
}

.projects_illustration img {
	height: auto;
	width: 100%;
	
}

.projects_illustration .overlay {
  position: absolute;
  left: 0;
  bottom: 4px;
  height: 35%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0,0,0,0.5)
}

a.projects_illustration:hover .overlay {
  opacity: 1;
}

.text .title {
	margin: 0px;
	font-family: 'Roboto-Bold';
	font-size: 16px;
	text-align: left;
	padding: 10px 0px 5px 0px;
}

.text {
  position: relative;
  color: white;
  font-size: 14px;
  text-align: left;
  padding-left: 10px;
  height: auto;
  margin: 0px;
}

.text p {
	margin: 0px;
}

.fas.fa-eye {
	position: absolute;
	right: 0;
	transform: translateY(-50%);
	background-color: #43add8;
	color: white;
	border: 2px solid #E9E9E9;
	border-radius: 50%;
	padding: 13px 13px;
	font-size: 12px;
	margin-right: 10px;
}

.contact_info {
	position: relative;
}

.contact_info .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(124, 180, 204,0.5); 
}

.contact_form {
	position: absolute;
	right: 150px;
	margin-top: 30px;
	margin-bottom: 30px;
	background-color: rgba(239,245, 247,0.8);
	width: 300px;
	z-index: 2;
	padding: 0 30px 0 20px;
}

.contact_form h1 {
	font-size: 24px;
	text-align: left;
}

.contact_form_webagency {
	font-family: 'Roboto-Bold';
	color: #63686e;
}

.contact_form p {
	font-size: 14px;
	line-height: 8px;
	color: #63686e;

}

.contact_form .tel {
	border-bottom: 1px dotted #63686e;
}

.contact_form form {
	font-family: 'Roboto-Regular';
}

.cta_contact_info {
	font-family: 'Roboto-Regular';
	text-align: center;
	width: 100px;
	background-color: #43add8; 
	padding: 12px 15px 12px 15px;
	border-radius: 5px;
	border-bottom: 3px solid #2693c0;
}

.contact_form p.cta_contact_info {
	color: #FFF;
}

input[type=text] {
	width: 100%;
	padding: 8px 0px 8px 8px;
	font-family: 'Roboto-Regular';
	font-size: 14px;
	margin-top: 10px;
	color: #D8D8D8;
	border: 1px solid #D8D8D8;
	border-radius: 5px;
}

textarea {
	width: 100%;
	padding: 8px 0px 8px 8px;
	font-family: 'Roboto-Regular';
	font-size: 14px;
	border: 1px solid #D8D8D8;
	border-radius: 5px;
	margin-top: 10px;
	color: #D8D8D8;
}