
@font-face {
	font-family: 'Roboto-Bold';
	src: url('fonts/Roboto-Bold.ttf');
}

@font-face {
	font-family: 'Roboto-Regular';
	src: url('fonts/Roboto-Regular.ttf');
}




@media all and (max-width: 600px) {

h1 {
	text-align: center;
	font-family: 'Roboto-Bold';
	font-size: 14px;
}

h2 {
	text-align: center;
	font-family: 'Roboto-Bold';
	font-size: 24px;
}


nav .logo {
	margin-left: 5%;
	padding: 20px 0 20px 0;
	width: 30%;
}

nav img {
	width: 100%;
}

nav .menu {
	margin: 0;
	padding: 20px 0 20px 30px;
	margin-right: 5%;
	width: 60%;
	
}

nav .menu li {
	display: inline;
	padding: 22px 2px 20px 2px;
	font-size: 10px;
	color: #787878;

}

nav .menu a {
	text-decoration: none;
	color: #787878;
}

nav .menu .accueil {
	border-top: 3px solid #2693c0;
}

nav .menu li:hover {
	border-top: 3px solid #2693c0;
}

.welcome-screen img {
	display: none;
}

.welcome-screen {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center; 
	color: #FFFFFF;
	margin-top: 65px;
	position: relative;
	z-index: 1;
	height: 300px;
	background-color: #F5F5F5;
}

.welcome-screen-intro {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
}

.fas.fa-angle-left {
	margin-left: 2px;	
}

.half-circle-left {
    width: 25px;
    height: 50px;
}

.fas.fa-angle-right {
	margin-right: 2px;
}

.half-circle-right {
    width: 25px;
    height: 50px;
}

.welcome-screen h1 {
	font-size: 20px;
	margin-left: 10%;
	width: auto;
	color: black;
}

.welcome-screen p {
	font-size: 10px;
	margin-left: 10%;
	color: black;
}

.welcome-screen .cta-welcome-screen {
	font-size: 10px;
	width: 60px;
	padding: 8px 10px 8px 10px;
	color: white;
	margin-left: 10%;
}

.our-services .illustration {
	position: relative;
}

.introduction {
	width: auto;
	margin-left: 3%;
	margin-right: 3%;
	margin-top: 25px;
	font-size: 12px;
}

.our-services .illustration, .projects .illustration {
	border: 0.5px solid #E5E5E5;
	width: 150px;
	margin-left: auto;
	margin-right: auto;
}

.our-services .illustration .fa.fa-circle {
	position: absolute;
	top: -12px;
	left: 60px;
  	color: #43add8;
  	border: 4px solid white;
	border-radius: 50%;
}

.main-feature {
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin-left: auto;
	margin-right: auto;
}

.main-feature .main-feature-image {
	width: 50%;
	display: inline-block;
	vertical-align: top;
	display: none;
}

.main-feature img {
	display: none;
}

.main-feature ul {
	width: 100%;
}

.main-feature li {
	padding: 0px;
}

.main-feature li div {
	margin-left: 3%;
	margin-right: 3%;
}

.service-icon-group {
	width: 18%;
}

.service-text {
	width: 70%;
}

.main-feature .main-feature-list-title {
	font-size: 15px;
}

.main-feature .main-feature-list-text {
	font-size: 12px;
}

.projects .illustration .fa.fa-circle {
	position: absolute;
	top: -12px;
	left: 60px;
  	color: #43add8;
  	border: 4px solid white;
	border-radius: 50%;
}

.triangle {
  top: 76%;
}

.projects .project-details {
	font-size: 12px;
	padding-left: 0px;
}

.portfolio {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.images-catalog {
	display: block;
	margin-right: 3%;
	
}

.images-catalog a {
	display: block;
}

.contact-form {
	left: 50%;
	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	        transform: translateX(-50%);
	margin-top: 30px;
	width: 70%;
}

iframe {
	display: none;
}

}






@media all and (min-width: 601px) and (max-width: 1024px) {

h1 {
	text-align: center;
	font-family: 'Roboto-Bold';
	font-size: 30px;
}

h2 {
	text-align: center;
	font-family: 'Roboto-Bold';
	font-size: 30px;
}


nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #FFF;
	z-index: 3;
}

nav .logo {
	margin-left: 5%;
	padding: 20px 0 20px 0;
	width: 30%;
}

nav .menu .accueil {
	font-size: 15px;
}

nav img {
	width: 100%;
}

nav .menu {
	margin: 0;
	padding: 30px 0 18px 30px;
	margin-right: 5%;
	width: 40%;
	
}

nav .menu li {
	display: inline;
	padding: 28px 2px 18px 2px;
	font-size: 15px;
	color: #787878;

}

.welcome-screen {
	height: 300px;
	background-color: #F5F5F5;
}

.welcome-screen h1 {
	font-size: 30px;
	margin-left: 110px;
	width: 55%;
	color: black;
}

.welcome-screen p {
	font-size: 14px;
	margin-left: 110px;
	color: black;
}

.welcome-screen img {
	display: none;
}

.welcome-screen .cta-welcome-screen {
	text-align: center;
	font-size: 18px;
	width: 100px;
	padding: 12px 15px 12px 15px;
	color: white;
}

.main-feature img {
	display: none;
}

.main-feature ul {
	width: 100%;
}

.service-icon-group {
	position: relative;
	width: 10%;
	margin-left: 5%;
}

.service-text {
	margin-left: 3%;
	width: 80%;
}

.images-catalog {
	display: block;
	margin-left: 3%;
	margin-right: 10%;
}

.projects-illustration {
	width: 48%;
}

.projects-illustration img {
	width: 48%;
}

.projects-illustration .overlay {
  padding-bottom: 55px;
}

.contact-form {
	left: 50%;
	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	        transform: translateX(-50%);
	margin-top: 30px;
	width: 70%;
}

	}
